
body{
    margin: 0 auto;
}
header.header {
    display: flex;
    align-items: center;
    background-color: white;
}
header.header img{
    width: 100px;
}
header.header li{
    text-indent: 20px;
    align-items: flex-start;
}
section.page {
    background: url('../images/Pe.jpg');
    background-size: cover;
    height: 500px;
    
  }

  .nav.nav.nav {
    display: flex;
    list-style: none;
    text-align: center;
    border-spacing: 20px;
  }
  .nav.nav.nav li{
    color:black;
    text-indent: 55px;
    text-align: center;
    border-spacing: 18px;
    font-size: 16px;
  }
  .nav.nav.nav {
    background-color: white;
    height: 60px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    border-spacing: 20px;

  }
.title.title{
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100px;
}
.na.na{
    display: flex;
    list-style: none;
    background-color: white;
    height: 30px;
    margin-left: 350px;
    margin-right: 50px;
    color:black;
    text-indent: 60px;
    text-align: center;
}
.search-container {
  text-align: center;
  margin-left: 140px;
  margin-right: 150px;
  align-items: center;
}

#search-form {
  display: flex;
  align-items: center; /* Alignement vertical */
  background-color: white;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-right: 20px; /* Espacement entre les champs */
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"], input[type="date"] {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 12px;
}

input[type="date"] {
  -webkit-appearance: none;
}

button {
  padding: 12px 20px;
  background-color: #0071c5;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

button:hover {
  background-color: #005fbb;
}
.dropdown-container {
  text-align: center;
}

select {
  padding: 10px;
  font-size: 14px;
}
.container {
  /* Optionnel : Utilisez flexbox pour centrer les mots horizontalement */
  display: flex;
  justify-content: center;
}

.word {
  margin-right: 10px; /* Espacement entre les mots */
}





